[submodule "Backend"]
	path = Backend
	url = https://github.com/2024-Summer-BootCamp-TeamK/Backend.git
	branch = deploy

[submodule "Frontend"]
	path = Frontend
	url = https://github.com/2024-Summer-BootCamp-TeamK/Frontend.git
	branch = deploy

